<h1>Eat Da Burger!</h1>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="float-left">
                <h2>Eat This Burger:</h2>
                <ul>
                    {{#each burgers}}
                    {{#unless this.devoured}}
                    <li>
                        {{this.burger_name}}
                        <form action="/{{this.id}}" method="POST">
                            <input type="hidden" name="devour">
                            <button class="btn btn-dark" type="submit">Devour!</button>
                        </form>
                    </li>
                    {{/unless}} {{/each}}
                </ul>
            </div>
        </div>
        <div class="float-right">
            <h2>You've Devoured These Burgers: </h2>
            <ul>
                {{#each burgers}}
                {{#if this.devoured}}
                <li>
                    {{this.burger_name}}
                </li>
                {{/if}} {{/each}}
            </ul>
        </div>
    </div>
</main>
<h3>Add a Burger To The Menu!</h3>
 <form class="col-lg-6 offset-lg-3 ">
   <div class="row justify-content-center">
        <input type="text" id="name" name="burger_name" placeholder="Enter your burger here!">
        <button type="submit" class="addBurgerBtn">Add Burger</button>
    </form>
</div>
</div>